<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirection vers la page d'accueil</title>
</head>
<body>
  <button>
    <a href="/accueil" style="text-decoration: none; color: inherit;">Affichage de liste</a>
  </button>
  <button>
    <a href="/ajouter" style="text-decoration: none; color: inherit;">Ajouter un nouveau texte</a>
  </button>
</body>
</html>
